<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject #6</div>
<span style="">MicroProject: Ten Heads in a Row</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/06-ten-heads/">https://discovery.cs.illinois.edu/microproject/06-ten-heads/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: Your Simulation of Flipping a Coin

Simulation is a powerful tool that allows us to run a event with a probabilistic outcome millions of times in under a second.  In this MicroProject, you will use simple simulation to flip a coin a million times and discover how to find trends in the simulated data.  After writing this simulation, you will do analysis that compile data over multiple observation -- a simple form of time-series analysis -- to find if the statistical probability of events measure the simulated probability.

### Create Your Simulation

Create a simulation of flipping a fair coin 1,000,000 times.  Record an `"H"` for heads (50%) and a `"T"` for tails (50%), store the coin flip result in a column called `flip`, and store all 1,000,000 observations in a DataFrame `df`.

- Not sure how to write a simulation?  See the [DISCOVERY lecture notes on "Simple Simulations in Python"](http://localhost:8080/learn/Simulation-and-Distributions/Simple-Simulations-in-Python/) for complete details on the six steps in writing this simulation!

In [65]:
import pandas as pd
import random
# Simulation:
flip = []
for i in range(1000000):
    coin = random.choice(["H", "T"])
    d = {"flip": coin}
    flip.append(d)
df = pd.DataFrame(flip)

In [66]:
df

       flip
0         H
1         T
2         T
3         T
4         H
...     ...
999995    T
999996    T
999997    H
999998    T
999999    H

[1000000 rows x 1 columns]

### 🔬 Checkpoint Tests 🔬

In [67]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("df" in vars())
assert("flip" in df)
assert(len(df[df.flip == "H"]) > 400000)
assert(len(df[df.flip == "T"]) > 400000)
assert(len(df[df.flip == "H"]) + len(df[df.flip == "T"]) == 1e6)

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Finding the Two-Coin Sequence

The chance of getting a fair coin to land on "heads" is 50% -- but how common is it to get 2 heads in a row?  Before we write the Python code to find the simulated probability, let's calculate the true probability.

### Statistical Probability of Two Heads

In the cell below, calculate `P_twoheads` to the the probability of flipping two fair coins and they both land on heads:

In [68]:
P_twoheads = (1/2) * (1/2)
P_twoheads

0.25

### Sequences of Two Heads

To find the simulated probability of two heads, we need to observe **sequences of two coin flips**.  Instead of writing a new simulation, we will calculate each two-coin sequence by evaluating every row and calculating the sequence that includes:

- The result of the current observation's coin flip
- The result of the previous observation's coin flip

For each observation of the simulation, create a new column called `seq2` that contains the two coin sequence as described above (ex: `HH`, `HT`, `TH`, or `TT`).

***Unsure about how to get the previous observation's coin flip?***  Read the DISCOVERY guide "Using Previous Observations when Computation Values in a DataFrame" to find out more on how to use a previous observation's value with the `shift` function in your formula:
- [Guide: "Using Previous Observations when Computation Values in a DataFrame"](https://discovery.cs.illinois.edu/guides/DataFrame-Fundamentals/Using-Previous-Observations-when-Computation-Values/)

In [69]:
df["seq2"] = df.flip + df.flip.shift(1)
df

       flip seq2
0         H  NaN
1         T   TH
2         T   TT
3         T   TT
4         H   HT
...     ...  ...
999995    T   TH
999996    T   TT
999997    H   HT
999998    T   TH
999999    H   HT

[1000000 rows x 2 columns]

### Simulated Probability of Two Heads

Create a new DataFrame called `df_twoheads` that contains all the rows that contain a sequence of two heads:

In [70]:
df_twoheads = df[df["seq2"] == "HH"]
df_twoheads

       flip seq2
21        H   HH
28        H   HH
34        H   HH
35        H   HH
36        H   HH
...     ...  ...
999978    H   HH
999982    H   HH
999983    H   HH
999993    H   HH
999994    H   HH

[249174 rows x 2 columns]

Finally, we calculate the probability of two heads:

In [71]:
P_sim_twoheads = len(df_twoheads) / len(df)
P_sim_twoheads

0.249174

### Simulation Error

To find the error in a result, we can use the following formula:

$$error = \frac{|actual - expected|}{expected}$$

Using the variables you created earlier, `P_twoheads` and `P_sim_twoheads`, calculate the simulation error in the result and store the error in the variable `error`.

- Useful Function: The `abs` function in Python can be used to find the absolute value.  For example, `abs(-5)` will return `5`.

In [72]:
error = abs(P_sim_twoheads - P_twoheads) / P_twoheads
error

0.0033039999999999736

In [73]:
print(f"Your simulation error was: {(error * 100):.3f}%")

Your simulation error was: 0.330%

### 🔬 Checkpoint Tests 🔬

In [74]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
import math

tada = "\N{PARTY POPPER}"

assert((P_twoheads) == 25e-2)

assert("seq2" in df)
assert((df.loc[:, "seq2"].isnull().sum()) == 1)

assert(abs(P_sim_twoheads - P_twoheads) < 0.05)
assert(error >= 0)
assert(math.isclose(error - abs((P_sim_twoheads - P_twoheads)/P_twoheads), 0))

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Flipping for Ten Heads in a Row!

I think it would be awesome to flip a coin and get ten heads in a row!

### Statistical Probability of Ten Heads

Before we look at our data, what is the statistical probability of flipping a fair coin ten times and getting ten heads?

In [75]:
P_tenheads = (1/2)**10
P_tenheads

0.0009765625

### Simulation of Ten Heads in a Row

Using the same technique as above, create a new column `seq10` that contains the sequence of 10 coin flips that starts with your current observation's coin flip and adds the previous nine coin flips:

In [76]:
df["seq10"] = df.flip + df.flip.shift(1) + df.flip.shift(2) + df.flip.shift(3) + df.flip.shift(4) + df.flip.shift(5) + df.flip.shift(6) + df.flip.shift(7) + df.flip.shift(8) + df.flip.shift(9)
df

       flip seq2       seq10
0         H  NaN         NaN
1         T   TH         NaN
2         T   TT         NaN
3         T   TT         NaN
4         H   HT         NaN
...     ...  ...         ...
999995    T   TH  THHHTTTTTT
999996    T   TT  TTHHHTTTTT
999997    H   HT  HTTHHHTTTT
999998    T   TH  THTTHHHTTT
999999    H   HT  HTHTTHHHTT

[1000000 rows x 3 columns]

### Simulated Probability of Ten Heads

Create a new DataFrame `df_tenheads` that contains all sequences of ten heads in a row:

In [77]:
df_tenheads = df[df["seq10"] == "HHHHHHHHHH"]
df_tenheads

       flip seq2       seq10
8184      H   HH  HHHHHHHHHH
8185      H   HH  HHHHHHHHHH
10407     H   HH  HHHHHHHHHH
13292     H   HH  HHHHHHHHHH
18410     H   HH  HHHHHHHHHH
...     ...  ...         ...
993309    H   HH  HHHHHHHHHH
995586    H   HH  HHHHHHHHHH
999179    H   HH  HHHHHHHHHH
999180    H   HH  HHHHHHHHHH
999181    H   HH  HHHHHHHHHH

[997 rows x 3 columns]

### Finding the Simulation Error

First, calculate the simulated probability of getting heads 10 times in a row and store it in `P_sim_tenheads`:

In [78]:
P_sim_tenheads = len(df_tenheads) / len(df)
P_sim_tenheads

0.000997


Using the variables you created earlier, `P_tenheads` and `P_sim_tenheads`, calculate the simulation error in the result and store the error in the variable `error10`.

In [79]:
error10 = abs(P_sim_tenheads - P_tenheads) / P_tenheads
error10

0.020928000000000058

In [80]:
print(f"Analysis: In a simulation of {len(df)} coin flips, we flipped heads 2 times in a row a total of {len(df_twoheads)} times!")
print(f"Your simulation error for 2 heads in a row was: {(error * 100):.3f}%")
print()
print(f"Analysis: In a simulation of {len(df)} coin flips, we flipped heads 10 times in a row a total of {len(df_tenheads)} times!")
print(f"Your simulation error for 10 heads in a row was: {(error10 * 100):.3f}%")

Analysis: In a simulation of 1000000 coin flips, we flipped heads 2 times in a row a total of 249174 times!
Your simulation error for 2 heads in a row was: 0.330%

Analysis: In a simulation of 1000000 coin flips, we flipped heads 10 times in a row a total of 997 times!
Your simulation error for 10 heads in a row was: 2.093%

### 🤔 Reflection: Observing the Simulation Error 🤔

Press the **"Run All"** button at the top of your notebook to run this entire notebook again (and again, about 5 times) and see how the analysis values above change.  Note the trends you see in the percentage errors.

Nearly every time you run this noteboook (but not always), the percentage of simulation error for flipping two coins will be **much smaller** than the percentage error in flipping ten coins.

The two most significant factors influence lowering simulation error are:

1. Number of Simulations -- The more times you run a simulation, the lower your expected simulation error.
2. Frequency of Success -- The more common the event happens, the lower your expected simulation error.

Since we ran the simulation a large number of times (1,000,000), the error rate for common events (`"HH"` happens 25% of the time) will usually be very low.  However, for very rare events (there's only a 1:1024 chance of getting `"HHHHHHHHHH"`), the simulation will often be quite high -- even with 1,000,000 simulations.

### 🔬 Checkpoint Tests 🔬

In [81]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
import math
tada = "\N{PARTY POPPER}"

assert(math.isclose((P_tenheads), 9.765625e-4))

assert("seq10" in df)
assert((df.loc[:, "seq10"].isnull().sum()) == 9)

assert(len(df_tenheads) > 0)
assert(len(df_tenheads) < 10000)
assert(len(df[df.loc[:, "seq10"] == "H" * 10]) == len(df_tenheads))

assert(error10 > 0)
assert(error10 < 0.5)
assert(math.isclose(error10 - abs((P_sim_tenheads - P_tenheads)/P_tenheads), 0))

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  ⚠️ **Make certain to save your work.** ⚠️ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the instructions to commit and grade this MicroProject on GitHub!